body {
    margin: 0;
    padding: 0;
    font-size: 100.01%;
    text-align: left;
    position: relative;
    background: #FFF;
}

html,
body,
#container,
#content {
   width: 100%
}

#container {
   z-index: 2;
   color: #6b6c6e;
   font-size: 11px;
   line-height: 16px;
   max-width: 1000px;
}

#content {
   padding: 0;
   margin: 0;
   text-align: left;
   position: relative;
   z-index: 3;
   padding-right: 10px;
   padding-left: 10px;
}

/* --------------------------------------------------------- Anordnung Design ---------------------------- */
#header {
    position: fixed;
    top: 0px;
    z-index: 100;
    max-width: 1000px;
    background-color: white;
}

.ce_image.block {
    height: min-content;
}
#header_lg {
    height:20px;
    text-align: right;
    padding-top: 25px;
    padding-right: 30px;
}

#header_bg {
    width: 100%;
    clip-path: rect(0px 1000px 70px 0px);
}

#logo_habitron {
    width: 220px;
    height: 38px;
}

#inhalt {
    position: relative;
    z-index: 10;
    margin-top: 150px;
    margin-bottom: 80px;
}

#left {
    position: relative;
    margin-left: 20px;
    background: #FFF;
    float: left;
    z-index: 1000;
    width: 170px;
    overflow: visible;
    margin-right: -1px;
    visibility: visible;
}

#right {
   float: right;
   position: relative;
   left: -40px;
   top: 0px;
   z-index: 450;
   width: 170px;
   overflow: visible;
   min-height: 300px;
   padding-top: 59px;
   background: #FFF;
}


#mitte, #mitte_automtn {
    z-index: 400;
    padding-left: 10px;
    padding-top: 40px;
    padding-bottom: 90px;
    position: relative;
    float: left;
    min-height: 400px;
    background: #FFF;
}

#mitte {
    width: 600px;
}
 
#mitte_automtn {
    width: 750px;
    padding-right: 10px;
}

#footer {
    position: fixed;
    bottom: 0px;
    z-index: 500;
    background: #c0372d;
    border-top: 1px solid #722e29;
    max-width: 1000px;
    width: 98%
}

.image_container {
    overflow: hidden;
}

select,
input,
textarea {
    font-size: 99%;
}

form {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

#acc_img {
    width: 24px;
    height: 24px;
    top: 20px;
    left: 20px;
    z-index: 200;
}

#main {
    width: auto;
    position: relative;
}

.inside {
    position: relative;
    text-align: left;
}

.block {
    overflow: hidden;
}

.clear,
#clear {
    height: 0.1px;
    font-size: 0.1px;
    line-height: 0.1px;
    clear: both;
}

.invisible {
    width: 0px;
    height: 0px;
    left: -1000px;
    top: -1000px;
    position: absolute;
    overflow: hidden;
    display: inline;
}

.custom {
    display: block;
    text-align: left;
}

.custom:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
  .radio-group {
      display: flex;
      flex-direction: column;
  }

/* --------------------------------------------------------- Responsive Design ---------------------------- */

@media (aspect-ratio < 0.7) or (max-width: 980px) {
    
    #header_lg {
        visibility: hidden;
    }
    #header {
        height: 70px;
    }
    .ce_image.block {
        height: 70px;
        width: 105%;
    }
    #pic.mod_article.block {
        position: fixed;
        top: 0px;
        height: auto;
    }
    #inhalt {
        z-index: 10;
        margin-top: 150px;
        margin-bottom: 80px;
    }
    #acc_img {
        position: absolute;
    }
    #content {
        padding-left: 0px;
    }
    #mitte, 
    #mitte_automtn {
        width: 100%;
        margin-left: 0px;
        margin-top: -80px;

    }
    #left {
        margin-top: -80px;
        margin-left: 0px;
        width: 0px;
        position: absolute;
        padding-right: 20px;
        background-color: #f9f9f9;
        visibility: hidden;
    }
    #right {
        width: 0px;
    }
    #footer {
        position: fixed;
        bottom: 0px;
        width: 100%;
        z-index: 500;
    }
    #footer .inside {
        margin-left: 10px;
        margin-right: 10px;
    }
    #config_button.config_button, 
    #config_button_sv.config_button, 
    button.config_button, #file_button, 
    #close_file_popup, #reset_button, 
    #close_chan_popup, 
    #btn_rtr_timeout, 
    #btn_new_mod_id, 
    #btn_chan_reset, 
    #btn_rt_reboot, 
    #btn_cov_autostop_cnt {
        width: 60px;
        font-size: 90%;
    }
    #automtns_button, 
    #config_button, 
    #files_button, 
    #finish_button {
        width: 110px;
        font-size: 90%;
    }
    input#file_updwnload,
    input#upd_updwnload, 
    input#sys_upload {
        width:250px;
    }
    #file_button_l {
        width: 255px;
    }
    table {
        font-size: 90%;
    }

    table#mod-inputs-table, table#mod-outputs-table, table#mod-events-table {
    width: 360px;
    }
    .ce_text.block, 
    .mod_article.block {
        overflow:visible; 
        width: 97%;
    }
    input.desc_input1, 
    input.desc_input2 {
        width: 140px;
    }
    select.daytime {
        width: 90px;
    }
    h0 {
        font-size: 18px;
    }
    #logo_habitron {
        width: 180px;
        height: 30px;
    }
    
    #SCtitle {
        visibility: hidden;
    }
    #SCtitle2 {
        visibility: visible;
        position: absolute;
        left: 70px;
        top: 25px;
        font-size: 18px;
        color: #c8c8c8;
    }
    form table td {
        padding-left: 0px; 
        padding-right: 0px;
    }
    div#autmnbuttons {
    margin-left: 70px;
    }
    div#check_btn_line {

    }
}