/* ==========================================================================
   1. BASE STRUCTURE
   ========================================================================== */
body {
  margin: 0;
  padding: 0;
  font-size: 100.01%;
  text-align: left;
  position: relative;
  background: #fff;
}

html,
body,
#container,
#content {
  width: 100%;
}

#container {
  z-index: 2;
  color: #6b6c6e;
  font-size: 11px;
  line-height: 16px;
  max-width: 1000px;
}

#content {
  padding: 0;
  margin: 0;
  text-align: left;
  position: relative;
  z-index: 3;
  padding-right: 10px;
  padding-left: 10px;
}

/* ==========================================================================
   2. HEADER
   ========================================================================== */
#header {
  position: fixed;
  top: 0px;
  z-index: 100;
  max-width: 1000px;
  width: 98%;
  background-color: white;
}

.ce_image.block {
  height: min-content;
}

#header_lg {
  height: 20px;
  text-align: right;
  padding-top: 25px;
  padding-right: 30px;
}

#header_bg {
  width: 100%;
}

#logo_habitron {
  width: 220px;
  height: 38px;
}

/* ==========================================================================
   3. CONTENT LAYOUT
   ========================================================================== */
#inhalt {
  position: relative;
  z-index: 10;
  margin-top: 150px;
  margin-bottom: 80px;
}

#inhalt_doc {
  position: relative;
  z-index: 10;
  height: calc(100vh - 240px);
  margin-top: 150px;
  margin-bottom: 80px;
}

/* --- Columns --- */

#left {
  position: relative;
  margin-left: 0px;
  background: #fff;
  float: left;
  z-index: 1000;
  width: 220px;
  margin-right: -1px;
  visibility: visible;
}

#right {
  float: right;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 450;
  width: 170px;
  min-height: 300px;
  padding-top: 59px;
  background: #fff;
}

#mitte,
#mitte_automtn {
  z-index: 400;
  padding-left: 10px;
  padding-top: 40px;
  padding-bottom: 90px;
  position: relative;
  float: left;
  min-height: 400px;
  background: #fff;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: calc(100vh - 280px);
}

#mitte {
  width: 600px;
}

#mitte_automtn {
  width: 750px;
  padding-right: 10px;
}

/* ==========================================================================
   4. FOOTER
   ========================================================================== */
#footer {
  position: fixed;
  bottom: 0px;
  z-index: 500;
  background: #c0372d;
  border-top: 1px solid #722e29;
  max-width: 1000px;
  width: 98%;
}

/* ==========================================================================
   5. ELEMENTS & HELPERS
   ========================================================================== */
.image_container {
  height: 70px;
  overflow: hidden;
  clip-path: rect(0px 1000px 70px 0px);
}

select,
input,
textarea {
  font-size: 99%;
}

form {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

#acc_img {
  width: 24px;
  height: 24px;
  padding: 10px;
  top: 10px;
  left: 10px;
  z-index: 200;
}

#main {
  width: auto;
  position: relative;
}

.inside {
  position: relative;
  text-align: left;
}

.clear,
#clear {
  height: 0.1px;
  font-size: 0.1px;
  line-height: 0.1px;
  clear: both;
}

.invisible {
  width: 0px;
  height: 0px;
  left: -1000px;
  top: -1000px;
  position: absolute;
  overflow: hidden;
  display: inline;
}

.custom {
  display: block;
  text-align: left;
}

.custom:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

#SCtitle2 {
  position: absolute;
  left: 70px;
  top: 25px;
  visibility: hidden;
}

/* ==========================================================================
   6. RESPONSIVE DESIGN
   ========================================================================== */

@media (aspect-ratio < 0.7) or (max-width: 1012px) {
  #header_lg {
    visibility: hidden;
  }
  .settings-flex-layout {
    height: calc(100vh - 275px);
  }
  #header {
    height: 70px;
  }
  .ce_image.block {
    height: 70px;
    width: 105%;
  }
  #pic.mod_article.block {
    position: fixed;
    top: 0px;
    height: auto;
  }
  #inhalt {
    z-index: 10;
    margin-top: 150px;
  }
  #inhalt_doc {
    z-index: 10;
    height: calc(100vh - 180px);
    margin-top: 80px;
  }
  #acc_img {
    position: absolute;
  }
  #content {
    padding-left: 0px;
  }
  #mitte,
  #mitte_automtn {
    width: 100%;
    margin-left: 0px;
    margin-top: -80px;
    height: calc(100vh - 200px);
  }
  #left {
    margin-top: -80px;
    left: 0;
    width: 230px;
    position: absolute;
    padding-right: 20px;
    background-color: #f9f9f9;
    box-shadow: grey 2px 2px 5px;
    transition: transform 0.3s ease-in;
  }
  .left-hide {
    transform: translateX(-105%);
    -webkit-transform: translateX(-105%);
  }
  .left-show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  #subnavi {
    max-height: calc(100vh - 200px);
  }
  #right {
    width: 0px;
  }
  #footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 500;
  }
  #footer .inside {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #file_button,
  #close_file_popup,
  #reset_button,
  #close_chan_popup,
  #btn_rtr_timeout,
  #btn_new_mod_id,
  #btn_chan_reset,
  #btn_rt_reboot,
  #btn_rt_fwdtable,
  #btn_cov_autostop_del,
  #btn_updcheck_toggle,
  #btn_turnoff_config {
    width: 60px;
    font-size: 90%;
  }
  #change_button, #del_button, #new_button, #new_ext_button {
    width: 80px;
    font-size: 90%;
  }

  #automtns_button,
  #config_button,
  #config_button_sv,
  #config_button_acc,
  #config_button_cnc,
  #files_button,
  #reload_button,
  #reload-button,
  #finish_button,
  #transfer_button,
  #updates_button,
  button.config_button {
    width: 110px;
    font-size: 90%;
  }
  input#file_updwnload,
  input#file_upload_edit,
  input#upd_updwnload,
  input#sys_upload {
    width: 250px;
    font-size: 90%;
  }
  #file_button_l {
    width: 255px;
  }
  table {
    font-size: 90%;
  }

  table#mod-inputs-table,
  table#mod-outputs-table,
  table#mod-events-table {
    width: 360px;
  }
  .ce_text.block,
  .mod_article.block,
  #autmnbuttons {
    width: 97%;
  }
  input.desc_input1,
  input.desc_input2 {
    width: 140px;
  }
  select.daytime {
    width: 90px;
  }
  h0 {
    font-size: 18px;
  }
  #logo_habitron {
    width: 180px;
    height: 30px;
  }
  #SCtitle {
    visibility: hidden;
  }
  #SCtitle2 {
    visibility: visible;
    position: absolute;
    left: 70px;
    top: 25px;
    font-size: 18px;
    color: #c8c8c8;
  }
  form table td {
    padding-left: 0px;
    padding-right: 0px;
  }
  div#autmnbuttons {
    margin-left: 5px;
  }
}