/* ==========================================================================
   MAIN NAVIGATION (Horizontal)
   ========================================================================== */
#navi {
  position: absolute;
  padding-left: 60px;
  top: 85px;
  width: 1130px;
  z-index: 400;
  height: 33px;
  border-top: 1px solid #ff6633;
  border-bottom: 1px solid #ae2b2b;
  background: url(design/navi_bg.png) repeat-x left top;
}

/* Reset for nav elements */
#navi li,
#navi ul,
.mod_navigation li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}

/* --- Level 1 Styling --- */
#navi ul.level_1 {
  padding-top: 9px;
  list-style: none;
  float: left;
}

#navi ul.level_1 li {
  float: left;
}

#navi ul.level_1 li a,
#navi ul.level_1 li span,
#navi ul.level_1 li p {
  padding-left: 20px;
  padding-right: 20px;
}

#navi ul.level_1 li a.first,
#navi ul.level_1 li.first span,
#navi ul.level_1 li.first p {
  padding-left: 0px;
}

#navi a,
#navi li {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

/* Hover & Active States */
#navi ul.level_1 li a:hover,
#navi ul.level_1 li a.active,
#navi ul.level_1 li span.active,
#navi ul.level_1 li p.active,
#navi ul.level_1 li.trail,
#navi ul.level_1 li.trail a.trail {
  text-decoration: none;
  color: #cbcbcb;
}

#navi ul.level_1 li.first,
#navi ul.level_1 a.first {
  padding-left: 0px;
}

/* Hide deeper levels in main nav */
#navi ul.level_1 li ul.level_2 {
  display: none;
}

/* ==========================================================================
   SUB NAVIGATION (Sidebar)
   ========================================================================== */
#subnavi {
  width: 220px;
  position: relative;
  top: 20px;
  padding-bottom: 80px;
  margin-left: 2px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: auto;
  
  scroll-behavior: smooth;
  max-height: calc(100vh - 280px);
}

#subnavi li.sign {
  display: none !important;
}

/* --- Level 1 Styling --- */
#subnavi ul.level_1 {
  list-style: none;
  float: left;
}

#subnavi ul.level_1 li {
  float: left;
  padding-top: 7px;
  padding-left: 19px;
  padding-bottom: 7px;
  display: block;
  position: relative;
  width: 200px;
  z-index: 490;
}

/* Level 1 Links */
#subnavi ul.level_1 li a,
#subnavi ul.level_1 li span,
#subnavi ul.level_1 li p {
  background: url(navi_dot.png) no-repeat left center;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 23px;
  font-size: 14px;
  color: #d6002f;
}

/* Level 1 Active/Hover */
#subnavi ul.level_1 li a:hover,
#subnavi ul.level_1 li a.active,
#subnavi ul.level_1 li span.active,
#subnavi ul.level_1 li p.active,
#subnavi ul.level_1 li.trail,
#subnavi ul.level_1 li.trail a.trail {
  text-decoration: none;
  color: #888a8c;
}

/* --- Level 2 Visibility Logic --- */
#subnavi ul.level_1 li ul.level_2 {
  display: none;
}

#subnavi ul.level_1 li.active ul.level_2,
#subnavi ul.level_1 li.trail ul.level_2 {
  display: block;
}

/* --- Level 2 Styling --- */
#subnavi ul.level_2 li {
  float: left;
  clear: both;
  position: relative;
  display: block;
  padding-left: 1px;
  z-index: 495;
  padding-top: 2px;
  padding-bottom: 1px;
  width: 100%;
}

#subnavi ul.level_2 li.last {
  padding-bottom: 0px;
}

#subnavi ul.level_2 li.first {
  padding-top: 9px;
}

/* Level 2 Links */
#subnavi ul.level_2 li a {
  z-index: 500;
  text-transform: none;
  font-size: 14px;
  z-index: 496;
  white-space: nowrap;
}

/* Remove background/dots for Level 2 */
#subnavi ul.level_2 li a,
#subnavi ul.level_2 li span,
#subnavi ul.level_2 li p {
  background: none;
}

#subnavi ul.level_2 li a:hover,
#subnavi ul.level_2 li span,
#subnavi ul.level_2 li a.active {
  background: none;
}

/* Text adjustments for nested active items */
#subnavi ul.level_1 li.trail ul.level_2 span,
#subnavi ul.level_1 li.active ul.level_2 span,
#subnavi ul.level_1 li.trail ul.level_2 li.active,
#subnavi ul.level_1 li.active ul.level_2 li.active,
#subnavi ul.level_1 li.trail ul.level_2 li a,
#subnavi ul.level_1 li.active ul.level_2 li a {
  text-transform: none;
  font-size: 11.5px;
}