* {
   margin: 0;
   padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption {
   border: 0;
   outline: 0;
   font-weight: inherit;
   font-style: inherit;
   font-size: 100%;
   /*   font-family: inherit;
*/
   vertical-align: baseline;
}

em {
   font-style: italic !important;
}

strong {
   font-weight: bold !important;
}

table#set_tbl { 
   width: auto
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
   font-style: inherit;
   font-weight: inherit;
}

ins {
   text-decoration: none;
}

del {
   text-decoration: line-through;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
   content: "";
}

blockquote,
q {
   quotes: "" "";
}

abbr,
acronym {
   border: 0;
   font-variant: normal;
}

input,
button,
textarea,
select,
optgroup,
option {
   font-family: inherit;
   font-size: inherit;
   font-style: inherit;
   font-weight: inherit;
}

input,
button,
textarea,
select {
   font-size: 100%;
}

select,
input,
button,
textarea,
button {
   font: 99% arial, helvetica, clean, sans-serif;
}

body {
   font: 13px/1.231 arial, helvetica, clean, sans-serif;
   font-size: small;
   font: x-small;
   text-align: center;
   margin-bottom: 10px;
   z-index: 1;
   font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
   background-color: #8d8e90;
   background: -moz-linear-gradient(top, #6b6c6d 0%, #8d8e90 100%) fixed;
   /* firefox */
   background: -webkit-gradient(linear, top, bottom, color-stop(0%, #6b6c6d), color-stop(100%, #8d8e90)) fixed;
   /* webkit */
   background: -webkit-gradient(linear, left top, left bottom, from(#6b6c6d), to(#8d8e90));
   background: -o-linear-gradient(top, #6b6c6d 0%, #8d8e90 100%);
   /* opera */
   background: linear-gradient(top, #e6e6e6 0%, #8d8e90 30%);
   behavior: url("ie-css3.htc");
   height: 100%;
   overflow: hidden
}

pre,
code,
kbd,
samp,
tt {
   font-size: 108%;
   line-height: 100%;
}

html {
   /*----------Dauer-Scrollbalken-verhindert Springen--------*/
   height: 100%;
   padding: 0 0 1px 0;
}

a,
a img,
:focus,
a:hover,
img a:hover,
img:hover,
fieldset {
   outline: 0;
   text-decoration: none;
   border: none;
}

span.mandatory {
   color: #c0372d;
   font-weight: bold;
}

p.error {
   color: #d30800;
}

p.back {
   padding-top: 20px;
}

/* ------------------------------------------------Typolight Formulare---------------------------- */
.radio_container {
   display: block;
}

.radio_container span {
   padding-top: 5px;
   float: left;
   clear: both;
}

.radio_container label,
.checkbox_container label {
   vertical-align: top;
   padding-left: 5px;
}

.checkbox_container {
   padding-top: 5px;
}

.checkbox_container span {
   float: left;
   clear: both;
}

div.tableform input.checkbox {
   float: left;
}

div.tableform label {
   float: left;
}

#ctrl_publicFields span {
   display: block;
   width: 250px;
   float: left;
}


form input,
form select {
   display: block;
   float: left;
}

form td.col_0 {
   width: 150px;
}

form table td {
   padding-bottom: 2px;
   padding-left: 2px;
   padding-right: 2px;
}

form table td.col_first {
   padding-right: 10px;
}

table#mod-inputs-table, table#mod-outputs-table, table#mod-events-table {
   width: 450px;
}

.pagination {
   text-align: center;
   display: block;
   float: left;
   width: 400px;
   padding-top: 20px;
}

.pagination p {
   float: left;
}

.pagination ul {
   float: right;
   list-style: none;
   list-style-type: none;
}

.pagination ul li {
   float: left;
   padding-left: 3px;
   padding-right: 3px;
   list-style: none;
   list-style-type: none !important;
}

p.url {
   font-weight: bold;
}

/* ---------------------------------------------------Listen--------------------------- */
.mod_navigation li,
.mod_navigation ul,
.mod_navigation ol {
   margin: 0;
   padding: 0;
   list-style: none;
   list-style-type: none;
}

ul,
li {
   list-style-position: inside;
   list-style: disc;
   margin-left: 5px;
   padding-left: 2px;
}

.ce_text ul {
   margin-left: 10px;
   padding-left: 0px;
   list-style-type: disc;
   list-style-position: outside;
}

.ce_text ul li {
   margin-left: 20px;
   padding-left: 0px;
   list-style-type: disc;
   list-style-position: outside;
}

.ce_text ol li {
   margin-left: 10px;
   padding-left: 0px;
   list-style-type: decimal;
   list-style-position: outside;
}

/*--------------------------------------------------Accordeon allgemein-----------------------------------*/
.toggler {
   height: 21px;
   margin-top: 5px;
   padding-left: 35px;
   padding-top: 2px;
   cursor: pointer;
   cursor: hand;
   color: #c0372d;
}

.ce_accordion .toggler,
.ce_accordion .toggler.inactive {
   background: url(configurator_files/acc.gif) no-repeat left bottom;
   border: 1px solid #d0d0d0;
}

.ce_accordion .toggler:hover {
   background: url(configurator_files/acc.gif) no-repeat left top;
   border: 1px solid #d0d0d0;
}

.ce_accordion .toggler.active {
   background: url(configurator_files/acc.gif) no-repeat left -23px;
   color: #666;
}

.ce_accordion .toggler h2 {
   padding-bottom: 2px;
   font-size: 13px;
   padding-top: 1px;
   z-index: 500;
}

div.accordion {
   border-bottom: 1px solid #d0d0d0;
   border-left: 1px solid #d0d0d0;
   border-right: 1px solid #d0d0d0;
   padding-left: 35px;
   padding-right: 15px;
   margin-bottom: 5px;
   background-color: #FFF;
   background-repeat: repeat-x;
   background-position: left bottom;
   background-image: url(design/border.gif);
}

div.accordion div div {
   padding-top: 10px;
   padding-bottom: 10px;
}

div.accordion img {
   padding-right: 10px;
   padding-bottom: 5px;
}

div.accordion h1 {
   font-size: 14px;
}

/*---------------------------------------------Headlines-----------------------------------------*/
h0 {
   padding-bottom: 25px;
   font-size: 26px;
   text-align: right;
   color: #667;
}

h1 {
   padding-bottom: 25px;
   font-size: 16px;
   color: #c0372d;
}

h2 {
   padding-bottom: 18px;
   padding-top: 22px;
   font-size: 14px;
   font-weight: bold;
}

h1+h2,
h2+h3,
table td h2,
h1+h3 {
   padding-top: 0px;
}

#clear {
   clear: both;
   height: 3px;
}

h3 {
   padding-bottom: 14px;
   padding-top: 18px;
   font-size: 12px;
   font-weight: bold;
}

hr {
   border-top: 1px solid #e2e2e2;
   height: 0px;
}

/* ----------CONTAINER---------------------------- */


a {
   color: #c0372d;
   text-decoration: none;
}

a:hover {
   color: #c0372d;
   text-decoration: underline;
}

th {
   background-color: #af6258;
   color: #ffffff;
   padding: 3px;
   padding-top: 6px;
   padding-bottom: 6px;
}

th#th-chk {
   padding: 2px;
}

tr#atm-tr:nth-child(odd) {
   background-color: #f4e5e3;
}

tr#inst-tr:nth-child(odd) {
   background-color: #f4e5e3;
}

tr#lic-tr:nth-child(odd) {
   background-color: #f4e5e3;
}
/* ---------------------------------------------------------Elemente---------------------------- */

#pic {
   height: 70px;
   position: relative;
   z-index: 90;
   top: 20px;
   left: 0px;
}

#header #logo_habitron {
   position: absolute;
   top: 12px;
   left: 22px;
}



/* ---------------------------------------------------------Rechte Spalte---------------------------- */

#right img {
   position: relative;
   padding-top: 58px;
   padding-bottom: 0px;
   padding-left: 10px;
   max-width: 80%;
   max-height: 80%;
   height: auto;
}

#left img {
   position: relative;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 10px;
   max-width: 90%;
   height: auto;
}

#bild-links {
   margin-top: 40px;
   width: 120px;
   padding-left: 0px;
}

#bild-rechts {
   padding-left: 10px;
}

body.start #right img {
   top: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
}

body.produkte.sub #right img {
   padding-top: 0px;
   padding-bottom: 0px;
}

body.produkte.sub #right h1 {
   padding-top: 0px;
   padding-bottom: 0px;
}


#right .ce_text {
   padding-right: 25px;
}

#footer .inside {
   min-height: 50px;
   position: relative;
   margin-top: 25px;
   margin-right: 189px;
   margin-left: 189px;
}

.ce_text li {
   padding-bottom: 8px;
}

#config_button, transfer_button, files_button, #chan_reset_button, #config_button_extra {
   height: 22px;
   width: 125px;
   margin-left: 0px;
   font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
   font: 11px arial, helvetica, clean, sans-serif;
}
#config_button_extra {
   margin-top: 40px;
}

#add-mod-ok {
   height: 22px;
   width: 125px;
   margin-top: 40px;
   margin-left: 5px;
   margin-right: 5px;
   font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
   font: 11px arial, helvetica, clean, sans-serif;
}

#close-button {
   height: 22px;
   width: 125px;
   margin-top: 40px;
   margin-left: 5px;
   margin-right: 40px;
   font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
   font: 11px arial, helvetica, clean, sans-serif;
}

div#setup-buttons {
   position: absolute;
   bottom: 20px;
}
#test-button {
   height: 22px;
   width: 125px;
   margin-left: 220px;
   margin-right: 40px;
   font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
   font: 11px arial, helvetica, clean, sans-serif;
}
#rem-button {
   height: 22px;
   width: 125px;
   margin-left: 0px;
   margin-right: 40px;
   font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
   font: 11px arial, helvetica, clean, sans-serif;
   position: absolute;
}
#upd_cancel_button {
   height: 22px;
   width: 125px;
   margin-left: 0px;
   margin-top: 20px;
   margin-right: 40px;
   font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
   font: 11px arial, helvetica, clean, sans-serif;
}
#flash_button {
   height: 22px;
   width: 125px;
   margin-left: 0px;
   margin-top: 20px;
   margin-right: 40px;
   font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
   font: 11px arial, helvetica, clean, sans-serif;
}

.mod_subtext {
   margin-top: -2px;
   color:#667;
   align-content: end;
}
.fw_subtext {
   margin-top: -2px;
   color:#667;
   align-content: end;
}

.fw_subtext_bold {
   margin-top: -2px;
   font-weight: bold;
   color:#000
}

.addr_txt {
   padding: 3px;
   padding-right: 5px;
   color:#b0b0b0;
   z-index: 3;
   justify-self: flex-end;
}

.protoc_button {
   height: 22px;
   width: 100px;
   margin-left: 0px;
   font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
   font: 11px arial, helvetica, clean, sans-serif;
}

#config_button.config_button {
   height: 22px;
   width: 80px;
   margin-left: 0px;
   font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
   font: 11px arial, helvetica, clean, sans-serif;
}
button.ekey_pair {
   height: 22px;
   width: 60px;
   margin-left: 20px;
   font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
   font: 11px arial, helvetica, clean, sans-serif;
}

#config_button_sv.config_button {
   height: 22px;
   width: 80px;
   margin-left: 0px;
   font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
   font: 11px arial, helvetica, clean, sans-serif;

}

#config_button.new_button, #config_button.new_cntr_button, #config_button.new_lgc_button {
   height: 21.78px;
   width: 55px;
   margin-left: 5px;
   margin-right: 2px;
   font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
   font: 11px arial, helvetica, clean, sans-serif;
}



#automtns_button, #showlogs_button, #updates_button {
   height: 22px;
   width: 125px;
   margin-left: 0px;
   margin-right: 40px;
   font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
   font: 11px arial, helvetica, clean, sans-serif;
}

#tbl-button, #reload-button {
   height: 22px;
   width: 125px;
   margin-top: 30px;
   margin-bottom: 30px;
   margin-left: 0px;
   margin-right: 40px;
   font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
   font: 11px arial, helvetica, clean, sans-serif;
}

#files_button {
   height: 22px;
   width: 125px;
   margin-left: 0px;
   margin-right: 40px;
   font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
   font: 11px arial, helvetica, clean, sans-serif;
}

#finish_button {
   height: 22px;
   width: 125px;
   margin-left: 0px;
   margin-right: 40px;
   font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
   font: 11px arial, helvetica, clean, sans-serif;
}

#transfer_button {
   height: 22px;
   width: 125px;
   margin-left: 0px;
   margin-right: 40px;
   font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
   font: 11px arial, helvetica, clean, sans-serif;
}

#exit_button {
   height: 22px;
   width: 125px;
   margin-left: 35px;
   margin-right: 40px;
   font-family: "Lucida Sans", Arial, Verdana, Helvetica, sans-serif;
   font: 11px arial, helvetica, clean, sans-serif;
}

/* ---------------------------------------------------------Design Startseite---------------------------- */
body.start h1 {
   color: #c0372d;
   text-transform: uppercase;
   padding-top: 0px;
   padding-bottom: 10px;
}

body.start h1.ce_headline {
   font-size: 14px;
}

body.start #header {
   height: 378px;
   margin-bottom: -25px;
}

body.start #pic {
   height: 258px;
}

body.start #mitte, 
body.start #mitte_automtn {
   padding-bottom: 25px;
   padding-top: 10px;
   padding-left: 20px;
   margin-right: 220px;
   height: 169px;
   max-height: 169px;
}

body.start #right {
   float: right;
   padding-top: 0px;
   position: absolute;
   left: 807px;
   top: 0px;
   z-index: 450;
   width: 343px;
   min-height: 160px;
   background-color: #b90315 !important;
   background: -moz-linear-gradient(left, #fe6633 0%, #b90315 100%);
   background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fe6633), color-stop(100%, #b90315));
   background: -webkit-gradient(linear, left top, left bottom, from(#fe6633), to(#b90315));
   background: -o-linear-gradient(left, #fe6633 0%, #b90315 100%);
   background: linear-gradient(top, #fe6633 0%, #b90315 30%);
}

body.start #right h1 {
   color: #fff;
   padding-left: 10px;
   line-height: 25px;
   padding-bottom: 0px;
   font-size: 12px;
}

body.start #right img {
   top: 0px;
   padding-bottom: 0px;
}

/* ---------------------------------------------------------Design Fullwidth---------------------------- */

body.fullwidth #right {
   left: 0px;
   top: 0px;
}

body.fullwidth #mitte, 
body.fullwidth #mitte_automtn {
   margin-right: 189px;
   margin-left: 189px;
   padding-right: 50px;
}

/* ---------------------------------------------------------Design Accordion_Seiten---------------------------- */

body.acc #right {
   float: right;
   position: relative;
   left: -188px;
   top: 30px;
   width: 400px;
   padding-top: 45px;
}

body.acc #mitte,
body.acc #mitte_automtn {
   margin-right: 189px;
   margin-left: 189px;
   padding-right: 50px;
   padding-right: 400px;
}

body.acc #right .image_container,
body.acc #right img {
   position: relative;
   left: 0;
   top: 0;
   padding-top: 0px;
}

/*-----------------------------------------------------------Startseite News-------------*/
.mod_newslist {
   height: 190px;
   max-height: 190px;
}

.mod_newslist h1 a {
   color: #c0372d;
}

.mod_newslist h1 {
   color: #c0372d;
   font-size: 12px;
   font-weight: bold;
   padding-bottom: 5px;
}

.layout_short.first {
   padding-top: 0px;
}

.layout_short {
   padding-bottom: 5px;
   padding-top: 5px;
   line-height: 16px;
}

.layout_short.first {
   padding-top: 0px;
}

.layout_short.last {
   border-bottom: none;
}

/*-----------------------------------------------------------News Leser-------------*/
p.info {
   color: #666;
   font-style: italic;
   background: none;
   font-weight: bold;
}

.mod_newsreader .image_container img {
   padding-left: 10px;
   padding-bottom: 10px;
}

/* --------------------------------------------------------Formulare---------------------------- */
/*.feld
{
   width:250px;
   display:block;
   float:left;
}*/
#confbuttons {
   margin-left: 10px;
}
body.kontakt table td {
   vertical-align: top;
   padding-top: 3px;
}

body.kontakt table td.explanation {
   padding-top: 8px;
   padding-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="password"],
textarea,
select {
   background: url(design/input_shadow.gif) no-repeat left top;
   width: 165px;
   padding-top: 2px;
   padding-bottom: 1px;
   color: #333;
   border: 1px solid #C0372D;
}

input[type="checkbox"],
input[type="radio"],
select {
   margin-top: 2px;
   margin-left: 10px;
   margin-right: 10px;
   accent-color: #C0372D;
}
input[type="radio"]#temp_ctl_cl1, 
input[type="radio"]#temp_ctl_cl2, 
input[type="radio"]#temp_ctl_cl3, 
input[type="radio"]#temp_ctl_cl4, 
input[type="radio"]#temp_1_2_s1, 
input[type="radio"]#temp_1_2_s2, 
input[type="radio"]#supply_prio_230, 
input[type="radio"]#supply_prio_24 {
   margin-left: 5px
}
input[type="radio"]#temp_ctl_cl4,input[type="radio"]#temp_1_2_s2 {
   margin-bottom: 5px;
}
input[type="checkbox"].sel_element {
   margin-left: 5px
}

input[type="checkbox"]#sens_type {
   margin-top: 5px;
   margin-left: 5px;
   margin-bottom: 5px;
   accent-color: #C0372D;
}

input[type="number"].mod_ids, input[type="number"].mod_chans {
   width:30px;
   height:15px;
   border: 0px solid #C0372D;
}
#airquality-val {
   width: 70px;
}
#airquality-butt {
   width: 70px;
   margin-left: 20px;
   margin-top: 1px;
   height: 20px;
}

input.mod_chk {
   position:absolute;
   margin:5px;
}

#rgb-colorpicker {
   width: 50px;
   height: 22px;
   border: 1px solid #C0372D;
   margin-left: 200px;
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="password"],
select {
   height: 18px;
   padding-left: 3px;
   margin-left: 5px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="file"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
   background: url(design/input_shadow.gif) no-repeat left top;
   background: #fff;
   color: #C0372D;
   border: 1px solid #c0372d;
}

#group_dep,
select {
   background: url(design/input_shadow.gif) no-repeat left top;
   width: 150px;
}

form.select,
select {
   background: url(design/input_shadow.gif) no-repeat left top;
   height: 21.78px;
   width: 170px;
   padding-left: 0px;
   margin-left: 5px;
   border: 1px solid #C0372D;
   padding-top: 2px;
   margin-top: 0px;
   margin-right: 0px;
}

input#mov_led {
   margin-left: 5px;
}

input#time-vals {
   background: url(design/input_shadow.gif) no-repeat left top;
   height: 20px;
   border: 1px solid #C0372D;
   margin-left: 10px;
   padding-left: 1px;
   padding-right: 1px;
}

input#file_updwnload, input#sys_upload {
   width: 360px;
   margin-left: 0px;
   margin-right: 10px;
   padding-left: 2px;
   margin-bottom: 2px;
   padding-right: 2px;
   text-align: left;
}
input#upd_updwnload {
   width: 360px;
   margin-left: 0px;
   margin-right: 10px;
   margin-bottom: 2px;
   padding: 2px;
   text-align: left;
}

/*input[type="text"] { background: url(design/formfeld_bg.gif) no-repeat left top; }*/
input#clear:hover,
input#send:hover {
   cursor: default;
   cursor: pointer;
   cursor: hand;
   /*   cursor:crosshair;*/
}

input#rtr_timeout, input#new_mod_id, input#new_mod_ch, input#chan_reset, input#reset_ch, input#cov_autostop_cnt {
   width: 50px;
}
#btn_rtr_timeout, #btn_new_mod_id, #btn_chan_reset, #btn_rt_reboot, #btn_cov_autostop_cnt {
   width: 80px;
   height: 22px;
}
textarea {
   background: url(design/input_shadow.gif) no-repeat left top;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
}

input.submit {
   padding: 1px 2px;
   border: 1px solid #c0372d;
   text-decoration: none;
   color: #fff;
   background: #FE6533;
}

input.submit:hover {
   padding: 1px 2px;
   color: #343434;
}

.routinglink input.submit {
   height: 24px;
}

input.captcha {
   width: 50px;
}

span.captcha_text {
   padding-left: 10px;
}

body.login p.error {
   padding-top: 5px;
   padding-bottom: 5px;
}

body.login .mod_article {
   padding-bottom: 35px;
}

/*---------------------------------------------------------Contao Suche-------------------------------*/
div#confbutton {
   margin-left: 20px;
}
form#confbutton {
   padding-right: 10px;
   padding-top: 20px;
   float: right;
   position: relative;
}

form#confbuttons {
   padding-right: 10px;
   padding-top: 20px;
   float: right;
   position: relative;
}

.mod_search input.submit {
   padding: 3px 2px;
   margin-left: 15px;
}

#suche input#keywords {
   width: 118px !important;
   height: 16px;
   border: 1px solid #000;
   font-size: 11px;
   padding: 1px;
   padding-top: 3px;
   padding-left: 3px;
   text-transform: uppercase;
}

#suche input#keywords:focus {
   background: #fff;
}

.mod_search #ctrl_keywords_2 {
   width: 250px;
   height: 22px;
   padding: 1px;
   border: 1px solid #dcd7d2;
   z-index: 500;
   font-size: 13px;
}

.mod_search p.header {
   font-size: .9em;
   float: left;
   clear: left;
   padding-top: 3px;
   padding-bottom: 3px;
}

.mod_search h3 {
   font-size: 11px;
   padding-bottom: 1px;
}

.mod_search div.even,
.mod_search div.odd {
   font-size: 1em;
   display: block;
   padding-top: 5px;
   float: left;
   clear: both;
}


/*----------------------------------------------------------Diverse-----------------------------------*/
select.mod_chans {
   width: 50px;
   border: 0px
}

select#new_mod_ch {
   width: 55px;
}

p#button-evnt {
   color: #c0372d;
   font-weight: bold;
}

div#autmnbuttons {
   margin-top: 20px;
   margin-left: 100px;
   display: inline-flex;
}

button.config_button {
   width: 80px;
   height: 20px;
   margin-right: 25px;
}

.grid_row {
   display: flex;
   flex-wrap: wrap;
}

.grid_col {
   flex: 100%;
   width: 800px;
   max-width: 100%;
}

.grid_row img {
   align-self: center;
   width: 75%;
   margin-left: auto;
   margin-right: auto;
}

form#mod-update-grid {
   display:inherit;
   flex-wrap: inherit;
}

.figd_grid {
   margin: 15px;
   width: 150px;
   height: 150px;
   text-align: center;
   vertical-align: middle;
   box-shadow: 0px 0px 18px 2px grey;
}

.fig_grid {
   width: 150px;
   height: 150px;
   display: grid;
   padding: 0px;
   position: absolute;
}

.fig_upd_grid {
   width: 150px;
   height: 130px;
   display: grid;
   padding: 0px;
   position: absolute;
}

.lbl_grid {
   width: 150px;
   height: 150px;
   display: grid;
   padding: 0px;
   position: absolute;
}

figcaption {
   text-align: center;
   vertical-align: baseline;
}

body.kooperation img {
   margin-right: 20px;
   margin-bottom: 20px;
}

body.kooperation td {
   padding-top: 10px;
   padding-bottom: 10px;
   border-top: 1px solid #e2e2e2;
}

body.unternehmen td {
   width: 50%;
}

div.left {
   float: left;
   position: relative;
   min-width: 400px;
}

/*----------------------------------------------------------Tabellen ohne rand-----------------------------------*/
table.noborder {
   width: 100%;
   text-align: left;
   text-align-last: right;
   border: none;
   margin-top: 20px;
   margin-bottom: 20px;
}

.noborder tr {
   width: 100%;
}

.noborder td {
   padding: 18px;
   border: none;
   text-align: left;
   vertical-align: top;
}

.noborder td:first-child {
   padding-left: 0px;
}

.noborder td:last-child {
   padding-right: 0px;
   text-align: right;
}

.noborder tr:first-child {
   font-size: 14px;
   font-weight: bold !important;
}

/*----------------------------------------------------------Tabellen: oben und unten Rand-----------------------------------*/

table.linetopbottom {
   width: 100%;
   text-align: left;
   text-align-last: right;
   border-top: thin solid #999;
   border-right: none;
   border-bottom: thin solid #999;
   border-left: none;
   margin-top: 30px;
   margin-bottom: 30px;
}

.linetopbottom tr {
   width: 100%;
}

.linetopbottom td {
   padding: 18px;
   border: none;
   text-align: left;
   vertical-align: top;
}

.linetopbottom td:first-child {
   padding-left: 0px;
}

.linetopbottom td:last-child {
   padding-right: 0px;
   text-align: right;
}

.linetopbottom tr:first-child {
   font-size: 14px;
   font-weight: bold !important;
}
select option[disabled] {
   display: none;
}

select.daytime {
   width: 120px;
}
input[type="time"].daytime {
   padding-top: 2px;
   padding-bottom: 1px;
   color: #333;
   border: 1px solid #C0372D;
   width: 55px;
}

.disabled {
   color: hsl(0, 0%, 70%);
   border: 1px solid hsl(0, 0%, 70%);
}

input[type="number"].daytime {
   width: 35px;
}
input[type="number"].disabled {
   color: hsl(0, 0%, 70%);
   border: 1px solid hsl(0, 0%, 70%);
}
input[type="time"].disabled {
   color: hsl(0, 0%, 70%);
   border: 1px solid hsl(0, 0%, 70%);
}
input.sens_no {
   width: 44px; 
   height: 16px;
   margin-left: 0px; 
   margin-right: 12px; 
   text-align: center;
}
input#cov_pos_val {
   margin-left:200px;
}
div.sens_lims {
   display: flex;
}
div.sens_lbl {
   margin-left: 4px; 
   padding-top: 4px; 
   height: 22px;
   width: 138px;
}